.accountInfo div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.data p{
    color: black !important;
}
.complete{
    text-align: center;
    /* text-decoration: underline; */
    color: #6CCF00 !important;
    cursor: pointer;
}
.complete:hover{
    text-align: center;
    color: #6CCF00 !important;
    cursor: pointer;
}
.compPlay{
    padding-left: 20px;
    padding-right: 20px;
}
